/* setear mi css*/ 
body {
    box-sizing: border-box;
    color: #303030;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
/*Clases reutilizables*/
header{
    position: relative;
}
.text-uppercase{
    text-transform: uppercase;
}
li a {
    color: inherit;
    text-decoration: none;
    list-style: none;
}
ul li{
    display: inline;
    list-style: none;
    padding: 10px;
    margin: 5px;
}
.logo-header{
    width: 200px;
}
nav{
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.box-header{
    display: inline-block;
}